.store{
    background-color: #accbef;
}
.servicesearchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ae91e0;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}
.searchheading{
    font-size: 30px;
    padding-bottom: 10px;
}
.searchinput{
    width: 25%;
}
.servicescontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    justify-content: space-around;
}